body{
    min-height: auto;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
   }

.slider-container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.slider {
  display: flex;
  overflow-x: hidden;
}

.slide {
  flex: 0 0 auto;
}

.slide img {
  width: 100%;
  height: auto;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}


.image{
	align-items: center;
	align-content: center;
	justify-content: center;
	max-width: 100%;
    height: auto;
	
}
.slider{
	position: relative;
	width: 100%;
	height: 370px;
	overflow: hidden;
	
}

.product{
	align-items: center;
	justify-content:center;
	background-color: transparent;
	border: none;
	width: 1110px;
    height: 500px;
	position:relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
	max-width: 100%;
    height: auto;
}
.item{
    position: absolute;
	height: 360px;
	width: 200px;
	max-width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    border-color: aqua;
    border-radius: 10px;
    padding: 20px;
    transition: 0.5s;
    left: calc(50% - 110px);
    top: 0;
}
.item .card-img-top{
    max-width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 5px 5px;
}

#next, #prev{
	position: absolute;
	top: 40%;
	color: black;
	background-color: transparent;
	border: none;
	font-size: xx-large;
	font-weight: bold;
	left:50px;
	
}
#next{
	left: unset;
	right: 50px;
}
.slide-head {
	font-weight: bold;
    font-size: 20px;
    color: #000;
    text-align: center;
	filter: drop-shadow(8px 10px 7px rgb(0 0 0 / 0.4));
}

.slide-para {
    font-size: 14px;
    font-weight: 500;
    color: #000;
    text-align: center;
}


.button {
	filter: drop-shadow(8px 10px 7px rgb(0 0 0 / 0.4));
    border: none;
    font-size: 14px;
    padding: 6px 14px;
    border-radius: 8px;
    margin: 10px;
    color: #937966;
    background-color: #CEC2B9;
    cursor: pointer;
    transition: all 0.3s ease;
    align-self: center;
}
.button:hover {
    background: #937966;
    color: #FFFFFF;
}

 .navbar-button  {
            background-color: #8B4513;
            color: #fff;
            border: none;
            padding: 5px 10px;
            border-radius: 5px;
            text-decoration: none;
            display: inline-block;
            margin-left: 10px;
        }
        
.navbar-nav.mr-auto .nav-item .nav-link.disabled {
    color: rgba(255,186,0,1.00);
}
.navbar-nav.mr-auto .nav-item.dropdown #navbarDropdown1 {
    color: rgba(255,186,0,1.00);
}
.navbar-nav.mr-auto .nav-item .nav-link {
    color: rgba(255,186,0,1.00);
}
.container .navbar.navbar-expand-lg.navbar-light.bg-light .navbar-brand {
    color: rgba(255,255,255,1.00);
}
.container-fluid .container .navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: transparent;
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,1.00) 0%,rgba(0,0,0,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(0,0,0,1.00) 0%,rgba(0,0,0,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(0,0,0,1.00) 0%,rgba(0,0,0,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,1.00) 0%,rgba(0,0,0,1.00) 100%);
}
#navbarSupportedContent1 .form-inline.my-2.my-lg-0 .btn.btn-outline-success.my-2.my-sm-0 {
    color: rgba(255,186,0,1.00);
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,1.00) 0%,rgba(16,16,16,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(0,0,0,1.00) 0%,rgba(16,16,16,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(0,0,0,1.00) 0%,rgba(16,16,16,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,1.00) 0%,rgba(16,16,16,1.00) 100%);
}
.container .navbar.navbar-expand-lg.navbar-light.bg-light .navbar-toggler {
    background-image: -webkit-linear-gradient(270deg,rgba(78,78,78,1.00) 100%,rgba(53,53,53,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(78,78,78,1.00) 100%,rgba(53,53,53,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(78,78,78,1.00) 100%,rgba(53,53,53,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(78,78,78,1.00) 100%,rgba(53,53,53,1.00) 100%);
}

.container #accordion1 .card {
    background-image: -webkit-linear-gradient(270deg,rgba(148,142,62,1.00) 0%,rgba(251,251,251,1.00) 0.52%,rgba(255,255,255,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(148,142,62,1.00) 0%,rgba(251,251,251,1.00) 0.52%,rgba(255,255,255,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(148,142,62,1.00) 0%,rgba(251,251,251,1.00) 0.52%,rgba(255,255,255,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(148,142,62,1.00) 0%,rgba(251,251,251,1.00) 0.52%,rgba(255,255,255,1.00) 100%);
}
#accordion1 .card #headingOne1,#headingTwo1,#headingThree1 {
    background-image: -webkit-linear-gradient(270deg,rgba(185,153,118,1.00) 0%,rgba(185,153,118,1.00) 100%), url(url);
    background-image: -moz-linear-gradient(270deg,rgba(185,153,118,1.00) 0%,rgba(185,153,118,1.00) 100%), url(url);
    background-image: -o-linear-gradient(270deg,rgba(185,153,118,1.00) 0%,rgba(185,153,118,1.00) 100%), url(url);
    background-image: linear-gradient(180deg,rgba(185,153,118,1.00) 0%,rgba(185,153,118,1.00) 100%), url(url);
    background-color: #000000;
}
.card #collapseOne1,#collapseTwo1,#collapseThree1 .card-body {
    background-image: -webkit-linear-gradient(270deg,rgba(229,211,179,1.00) 0%,rgba(229,211,179,1.00) 100%), url(url);
    background-image: -moz-linear-gradient(270deg,rgba(229,211,179,1.00) 0%,rgba(229,211,179,1.00) 100%), url(url);
    background-image: -o-linear-gradient(270deg,rgba(229,211,179,1.00) 0%,rgba(229,211,179,1.00) 100%), url(url);
    background-image: linear-gradient(180deg,rgba(229,211,179,1.00) 0%,rgba(229,211,179,1.00) 100%), url(url);
}
#headingOne1 .mb-0 a,#headingTwo1 .mb-0 a,#headingThree1 .mb-0 a {
    color: #E5D3B3;
}
.dropdown-menu{
	background-color: rgba(255,186,0,1.00);
}
.d-block{
	max-width: 100%;
    height: auto;
}
.carousel-item{
	max-width: 100%;
    height: auto;
}

.pop-icon{
   filter: drop-shadow(8px 10px 7px rgb(0 0 0 / 0.4));
	 display: inline-block; /* Ensures transform applies correctly */
  animation: pop 2s ease-in-out forwards;
	  
}
.pop-icon.pop {
  animation: pop 2s ease-in-out forwards; /* Adjust time as needed */
}
.card-img-top{
   filter: drop-shadow(8px 10px 7px rgb(0 0 0 / 0.4));
  display: inline-block; /* Ensures transform applies correctly */
  transition: transform 0.5s ease; /* Added transition for smooth effect */
	  
}
.card-img-top:hover {
  transform: scale(1.05); /* Increase size on hover */
}

@keyframes pop {
  0% {
    transform: scale(1); /* Start at normal size */
  }
  50% {
    transform: scale(1.2); /* Scale up to 120% */
  }
  100% {
    transform: scale(1); /* Scale back to normal size */
  }
}
form {
            max-width: 400px;
            margin: 0 auto;
        }
        label {
            display: block;
            margin-bottom: 10px;
        }
        input[type="text"], textarea {
            width: 100%;
            padding: 8px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        textarea {
            height: 100px;
        }
        input[type="submit"] {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        input[type="submit"]:hover {
            background-color: #45a049;
        }
        input[type="reset"] {
            background-color: #FF7F7F;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
.navbar{
	border-radius: 5px 5px 5px 5px;
}
.center {
            margin: 0 auto; /* This will center the element horizontally */
            width: 50%; /* Adjust the width of the table container */
        }
table{
	width: 560px; /* Set the width of the table container to 280px */
        height: 600px;
	justify-content:center;
	align-content: center;
	max-width: 100%;
        height: auto;
}
   td, th {
            text-align: center; /* Center align text in table cells */
            padding: 8px; /* Add padding to the cells for better spacing */
            border:none;/* Add borders around cells */
        }

@media(min-width: 640px) {
    .sm\:mx-20 {
        margin-left: 3rem;
        margin-right: 3rem;
    }
}

.p-3 {
    padding: .75rem;
}
.flex-col {
    flex-direction: column;
}

.flex {
    display: flex;
}
.gap-8 {
    gap: 2rem;
    row-gap: 2rem;
    column-gap: 2rem;
}
.py-7 {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
}
.h-auto {
    height: auto;
}

.sm\:h-auto {
    height: auto; /* for small screens */
}

.w-1\/2 {
    width: 50%; /* width: 50% */
}
.w-1\/3 {
    width: 33.333%; /* width: 1/3 */
}

.rounded-lg {
    border-radius: 0.5rem; /* rounded corners */
}

.px-2 {
    padding-left: 0.5rem; /* horizontal padding */
    padding-right: 0.5rem; /* horizontal padding */
}

.mx-auto {
    margin-left: auto; /* center horizontally */
    margin-right: auto; /* center horizontally */
}

.image-link img {
    width:445px !important;
}

.image-link-2 img{
    width:298px !important;
}

        
        .product {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}

.product .caption {
  margin-top: 15px;
}

.product .caption h6 {
  color: #455a64;
}

.product .caption .price + .price {
  margin-left: 15px;
}

.product.tumbnail {
  box-shadow: 0 5px 25px 0 transparent;
  transition: 0.3s linear;
  padding-top: 0;
}

.product.tumbnail img:hover {
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.2);
}

.single-product span {
  display: inline-block;
}

.single-product .rating .fa-star, .single-product .rating .fa-star-o {
  font-size: 16px;
  color: #f7d4a0;
  margin-left: 2px;
}

.single-product .rating + * {
  margin-left: 15px;
}

.single-product h1.h1-variant-2 {
  margin-bottom: 20px;
}

.single-product .caption:before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.single-product .caption span {
  display: inline-block;
  vertical-align: middle;
}

.single-product .caption .price {
  font-weight: 400;
}

.single-product .caption .price.sale {
  color: #e75854;
  font-size: 33px;
}

.single-product .caption * + .price {
  margin-left: 10.8%;
}

@media (max-width: 1199px) {
  .single-product .caption * + .price {
    margin-left: 7.8%;
  }
}

.single-product .caption * + .quantity {
  margin-left: 26px;
}

.single-product .caption .info-list {
  border-bottom: 1px solid #f3f3ed;
  border-top: 1px solid #f3f3ed;
  font-family: Montserrat, sans-serif;
  padding-top: 26px;
  padding-bottom: 26px;
  text-align: left;
}

.single-product .caption .info-list dt, .single-product .caption .info-list dd {
  display: inline-block;
  line-height: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.single-product .caption .info-list dt {
  letter-spacing: 0.08em;
  font-size: 12px;
  color: #a7b0b4;
  width: 35%;
  text-transform: uppercase;
}

.single-product .caption .info-list dd {
  font-size: 15px;
  color: #565452;
  width: 62.5%;
}

.single-product .caption .share span.small {
  margin-top: 9px;
}

@media (max-width: 991px) {
  .single-product .caption .share span.small {
    display: block;
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .single-product .table-mobile tr {
    padding-top: 0;
  }
  .single-product .table-mobile tr:before {
    display: none;
  }
}

.price {
  display: inline-block;
  font-size: 15px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #2b2f3e;
}

.price.sale {
  color: #e75854;
}

.price del {
  color: #b0bec5;
}

.quantity {
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  background: #eceff1;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 82px;
  height: auto;
  display: inline-block;
}

.quantity span {
  display: inline-block;
}

.quantity .num {
  width: 26px;
}

.quantity [class*='fa-'] {
  padding-top: 4px;
  width: 22px;
  padding-bottom: 4px;
  color: #b0bec5;
  cursor: pointer;
}

.quantity [class*='fa-']:hover {
  color: #455a64;
}

/* Site footer */
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
